<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 <h2>Posts</h2>
 <% if posts?(@user) %>
     <%= render @user.posts %>
 <% else %>
     <h4><%= @user.name %> has not submitted any posts yet.</h4>
 <% end %>
 <h2>Comments</h2>
 <% if comments?(@user) %>
     <%= render @user.comments %>
 <% else %>
     <h4><%= @user.name %> has not submitted any comments yet.</h4>
 <% end %>
 
 <h2>Favorited Posts</h2>
 <% if favorites?(@user) %>
    <div class='row'>
        <div class='col-md-8'>
            <% @user.favorites.each do |favorite| %>
                <div class='media'>
                    <div class="media-body">
                        <h4 class="media-heading"><%= favorite.post.title %></h4> 
                        <% avatar_url = @user.avatar_url(48) %>
                        <%= image_tag avatar_url, class: 'pull-left media-object' %>
                        <small>Vote Score: <%= favorite.post.votes.count %></small>
                        <small>Comments: <%= favorite.post.comments.count %><small>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <% else %>
        <h4><%= @user.name %> has not favorited any posts.</h4>
    <% end %>
    

 
     
 
 