<div class="media">
    <%= render partial: 'votes/voting', locals: {post: post} %>
    <div class="media-body">
        <h4 class="media-heading">
            <!-- these changes right here where I add an avatar display to every call of the post partial was the start
            of a quick and dirty solution for the third part of the assignment, but I'm unsure of how to proceed with the
            third part -->
            <%= link_to post.title, topic_post_path(post.topic, post) %>
        </h4>
        <small>
            submitted <%= time_ago_in_words(post.created_at) %> ago <%= post.user %> <br />
            <%= post.comments.count %> Comments
        </small>
    </div>
</div>